*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}
.container {
    height: 100px;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
}

.title {
    text-transform: uppercase;
    display: flex;
}

.title h1 {
    padding-left: 1rem;
}

button {
    padding: 0.3rem 2rem;
    margin-left: 1rem;
    border-radius: 10px;
    font-size: 1rem;
}

select {
    padding: 0.3rem 2rem;
    border-radius: 10px;
    font-size: 1rem;
}

/* Main */
main{
    background-color: aquamarine;
}
.container-grid {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    padding:70px 40px 0 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  .cell {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 2px;
    border: 1px solid black;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    
  }
  /* FOOTER */
  .end{
    padding-top: 20px;
    font-size: 20px;
   
  }